.custom-margin-status {
  margin-top: 56px; /* Height of the fixed-top navbar */
}

.custom-margin-upper {
  margin-top: 150px; /* Adjust as needed */
}

.custom-margin-top {
  margin-top: 70px; /* Adjust as needed */
}

/* Make Todos component full-width on smaller screens */
@media (max-width: 576px) {
  .todos {
    width: 100%;
    margin: 10px 0;
  }
}

/* Adjust padding and margins for smaller screens */
@media (max-width: 768px) {
  .card {
    margin: 10px 0;
  }
}
